body {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .link-button {
    margin: 20px;
    border: 1px solid black;
    border-radius: 20px;
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      color: white;
      border-radius: 20px;
      background-color: blue;
    }
  }
}

.calculate {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .title {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
  }
  .text {
    display: flex;
    flex-direction: row;
    width: 45%;
    align-items: end;
    justify-content: space-between;
    .res-text {
      color: green;
      font-size: 18px;
    }
    .result {
      font-size: 28px;
      color: green;
      font-weight: 800;
    }
  }
  .subtitle {
    font-size: 20px;
    font-weight: 400;
  }
  .toggle {
    .switch-active {
      background-color: green;
      color: white;
    }
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    .switch {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 200px;
      height: 50px;
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    }
    .change {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 200px;
      height: 50px;
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    }
  }
  .inputs {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
    .input {
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
      width: 200px;
      height: 50px;
    }
    input {
      width: 100%;
      height: 100%;
      padding: 0px;
      text-align: center;
      border: none;
    }
  }
}
.slider {
  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    .arrow {
      width: 35px;
      height: 35px;
      &.left-arrow {
        transform: rotate(180deg);
      }
    }
    .numbers {
      display: flex;
      margin-left: 15px;
      margin-right: 15px;
      font-size: 22px;
    }
  }
  .slids-cards {
    margin-bottom: 20px;
    .slide {
      width: 100%;
      height: 300px; /* або інша потрібна вам висота */
      overflow: hidden; /* приховати частини зображення, що виходять за межі контейнера */
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .switcher {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .dot {
      margin-right: 8px;
      width: 12px;
      height: 12px;
      border-radius: 100%;
      background-color: gray;
    }
    .dot-active {
      margin-right: 8px;
      width: 15px;
      height: 15px;
      border-radius: 100%;
      background-color: rgb(6, 33, 240) !important;
    }
  }
}
.server-input {
  margin-top: 10px;
  margin-bottom: 20px;
}

h1 {
  color: red;
}
.hide {
  display: none;
}

.show {
  display: block;
}
.red {
  background-color: red !important;
  margin-bottom: 20px !important;
}
.blue {
  background-color: blue !important;
}
.box {
  width: 100px;
  height: 100px;
  background-color: red;
  margin-bottom: 20px;
}

button {
  border: none;
  width: 70px;
  height: 30px;
  border-radius: 20px;
  background-color: black;
  color: white;
  margin-bottom: 20px;
  &.one {
    background-color: green;
  }
}

.wrapper {
  display: flex;
  flex-direction: row;
  position: relative;
  .heart {
    position: relative;
    height: 110px;
    width: 20%;
    .square {
      position: absolute;
      left: 50px;
      width: 70px;
      height: 70px;
      background-color: red;
      transform: rotate(45deg);
    }
    .circle {
      width: 70px;
      height: 70px;
      background-color: red;
      border-radius: 100%;
    }
    .one {
      position: absolute;
      top: -25px;
      left: 75px;
    }
    .two {
      position: absolute;
      top: -25px;
      left: 25px;
    }
  }
}
.wrap-timer {
  width: 460px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 30px;

  .title {
    font-size: 28px;
    margin-bottom: 20px;
  }
  .timer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .title {
      font-size: 28px;
    }
    .timer_block {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100px;
      height: 100px;
      box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.3);
      span {
        font-size: 28px;
        font-weight: 800;
      }
    }
  }
}

.scroll {
  margin-bottom: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  .text {
    width: 600px;
    display: flex;
    justify-content: center;
    scroll-container {
      display: block;
      width: 350px;
      height: 300px;
      overflow-y: scroll;
      scroll-behavior: smooth;
    }
  }
}

.top-scroll {
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius: 100px;
  background-color: green;
  color: white;
  span {
    padding: 16px;
  }
}

.menu_item {
  padding: 16px;
  width: 400px;
  border: 1px solid black;
  margin-bottom: 30px;
  .text {
    margin-bottom: 20px;
  }
  .price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
